<h1>Listings</h1>

<% @listings.each do |listing| %>
  <div class="listing">
    <h2><%= link_to listing.title, listing_path(listing) %></h2>
    <p>Price: <%= listing.price %></p>
    <p>Category: <%= listing.category %></p>
    <p>Seller: <%= listing.user.username %></p>
  </div>
<% end %>

<%= link_to 'Sell an item', sell_path %>